
body{
    background-color: #083B4C;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;    
}

h1{
    font-size: 5rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 15px;
    background-color: #1389B2;
    color: black;
}

.bgc-light-green{
    background-color: #0ED6A1;
}

.bgc-orange{
    background-color: #FFD166;
}

.bgc-magenta{
    background-color: #F0466F;
}